[react-element=Accordion], [react-element=AccordionItem], [react-element=AccordionHead], [react-element=AccordionPanel] {
  border-radius: 0.25rem;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgba(212, 212, 216, var(--tw-border-opacity));
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

[react-element=Accordion] h3, [react-element=AccordionItem] h3, [react-element=AccordionHead] h3, [react-element=AccordionPanel] h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

[react-element=AccordionItem] {
  position: relative;
}
