.thumbnail-img{

}
.product-brief{

    .product-name{
        @apply text-2xl font-semibold mb-3;
    }
    .product-price{
        @apply text-xl font-medium mb-2;
    }
    .product-short-desc{
        @apply text-justify mb-3;
    }
    .category{
        @apply mb-3;
        *{
            @apply inline-block;
        }
        span{
            @apply relative;
            &:after{
                content: "";
                width: 4px;
                height: 4px;
                right: -6px;
                top: calc(50% - 2px);
                @apply bg-primary absolute rounded;
            }
            &:last-child:after{
                display:none;
            }
            @apply mx-1 px-1;
        }
    }
    .direct-contact{
        @apply mb-2;
        .btn{
            @apply bg-green-600 text-gray-50;
            font-size: 20px;
        }
        .icon{
            svg{
            @apply mr-2;
            font-size:1.8rem;
            }
        }
    }
    .actions{
        .btn{
            @apply bg-primaryDark text-gray-50
            duration-300 hover:bg-primary;
            .icon{
                font-size:24px;
                line-height:24px;
                @apply mr-2;
            }
        }
    }
}
.product-detail{
    ul.react-tabs__tab-list{
        @apply flex justify-center;
    }
    .react-tabs__tab-list {
        @apply border-0;
    }
    .react-tabs__tab {
        @apply border-0;
    }
    .react-tabs__tab--selected {
        border-bottom: solid;
        @apply bg-transparent border-primaryDark border-b;
    }

}

.full-description,
.product-short-desc{
    p{
        @apply mb-4;
    }
    ol,
    ul{
        padding-left: calc(1rem + 3px);
        list-style: revert;
    }
}
